/*
//  BaseUp CSS
*/


/* Copy */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {margin:0;}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {adisplay:block;}
p,form,ol,ul,dl {margin-top:0;}

body {font-size:1.3125em;line-height:1.4285714285714286;}
p,form,ol,ul,dl {margin-bottom:30px;}
h1, .h1 {font-size:164%;line-height:1.2613;margin-top:-13.439999999999998px;margin-bottom:0px;}
h2, .h2 {font-size:132%;line-height:1.3246;margin-top:-6.720000000000006px;margin-bottom:0px;}
h3, .h3 {font-size:115.9999%;line-height:1.3694;margin-top:-3.3599999999999994px;margin-bottom:0px;}
h4, .h4 {font-size:108%;line-height:1.3968;margin-top:-1.6799999999999962px;margin-bottom:0px;}
h5, .h5 {font-size:104%;line-height:1.412;margin-top:-0.8400000000000034px;margin-bottom:0px;}
h6, .h6 {font-size:100%;line-height:1.4285;margin-top:30px;margin-bottom:0px;}



/* Layout */
.lay {list-style-type:none;margin-left:0;margin-right:0;padding-left:0;padding-right:0;}

.lay:after,
.lay:before,
.lay-left:after,
.lay-left:before,
.lay-right:after,
.lay-right:before,
.lay-centered:after,
.lay-centered:before {content:"";display:table;}
.lay:after,
.lay-left:after,
.lay-right:after,
.lay-centered:after {clear:both;}

/* Layout > Legacy Support > IE 6 and 7 fix to trigger hasLayout */
.lay,
.lay-left,
.lay-right,
.lay-centered {display:inline-block;}
.lay,
.lay-left,
.lay-right,
.lay-centered {display:block;}

.lay-left {margin-right:auto;}
.lay-right {margin-left:auto;}
.lay-centered {margin-left:auto;margin-right:auto;}

.clear {clear:both;}




/* Layout > Columns */
.col {float:left;width:100%;}
.cols > * {float:left;width:100%;}

/* Layout > Cols > Legacy Support */
/*  IE 6 and 7 fix */
.col {
    _display:inline; /* 1 */
    _word-wrap:break-word; /* 2 */
    _overflow:hidden; /* 3 */
    *margin-right:-1px; /* 4 */
}
.cols > * {
    *margin-right:-1px; /* 4 */
}
/*
//  1. Fix the double margin float bug in IE 6
//  2. Prevent unbroken strings of text and URLs breaking the layout in IE 6
//  3. Prevent images wider than the column width breaking the layout in IE 6
//  4. Account for pixel-rounding of percentages in IE 6 and 7
*/

/* IE 6 and 7 fix applied in baseup.js */
.baseup-legacy-support-clear-a {float:left;width:100%;height:0;overflow:hidden;}
.baseup-legacy-support-clear-b {clear:both;height:0;overflow:hidden;}

/* IE 6 fix applied in baseup.js */
.baseup-legacy-support-lay {float:left;width:100%;}





/* Layout > Positioned Columns */
.pos {margin-right:-100%;}




/* Layout > Pull Left and Right */
.pull-left {float:left;width:100%;}
.pull-right {float:right;width:100%;}




/* Layout > Heights */
.height-1o2x {height:15px;}
.height-1x {height:30px;}
.height-2x {height:60px;}
.height-3x {height:90px;}
.height-4x {height:120px;}
.height-5x {height:150px;}
.height-6x {height:180px;}
.height-7x {height:210px;}
.height-8x {height:240px;}
.height-9x {height:270px;}
.height-10x {height:300px;}
.height-11x {height:330px;}
.height-12x {height:360px;}
.height-13x {height:390px;}
.height-14x {height:420px;}
.height-15x {height:450px;}
.height-16x {height:480px;}
.height-17x {height:510px;}
.height-18x {height:540px;}
.height-19x {height:570px;}
.height-20x {height:600px;}
.height-auto {height:auto;}



/* Layout > Hide Gutter Left */
.hide-gut-left,
.hide-gut-left-1x {margin-left:-30px;}
.hide-gut-left-2x {margin-left:-60px;}
.hide-gut-left-3x {margin-left:-90px;}
.hide-gut-left-4x {margin-left:-120px;}
.hide-gut-left-5x {margin-left:-150px;}
.hide-gut-left-6x {margin-left:-180px;}
.hide-gut-left-1o2x,
.hide-gut-left-2o4x {margin-left:-15px;}
.hide-gut-left-1o3x {margin-left:-10px;}
.hide-gut-left-2o3x {margin-left:-20px;}
.hide-gut-left-1o4x {margin-left:-7.5px;}
.hide-gut-left-3o4x {margin-left:-22.5px;}
.hide-gut-left-none {margin-left:0;}



/* Layout > Gut Left */
.gut-left,
.gut-left-1x {margin-left:30px;}
.gut-left-2x {margin-left:60px;}
.gut-left-3x {margin-left:90px;}
.gut-left-4x,
.gut-left-small {margin-left:120px;}
.gut-left-5x {margin-left:150px;}
.gut-left-6x {margin-left:180px;}
.gut-left-1o2x,
.gut-left-2o4x {margin-left:15px;}
.gut-left-1o3x {margin-left:10px;}
.gut-left-2o3x {margin-left:20px;}
.gut-left-1o4x {margin-left:7.5px;}
.gut-left-3o4x {margin-left:22.5px;}
.gut-left-none {margin-left:0;}
.gut-left-medium {margin-left:270px;}
.gut-left-large {margin-left:420px;}



/* Layout > Gut Right */
.gut-right,
.gut-right-1x {margin-left:30px;}
.gut-right-2x {margin-left:60px;}
.gut-right-3x {margin-left:90px;}
.gut-right-4x,
.gut-right-small {margin-left:120px;}
.gut-right-5x {margin-left:150px;}
.gut-right-6x {margin-left:180px;}
.gut-right-1o2x,
.gut-right-2o4x {margin-left:15px;}
.gut-right-1o3x {margin-left:10px;}
.gut-right-2o3x {margin-left:20px;}
.gut-right-1o4x {margin-left:7.5px;}
.gut-right-3o4x {margin-left:22.5px;}
.gut-right-none {margin-left:0;}
.gut-right-medium {margin-left:270px;}
.gut-right-large {margin-left:420px;}



/* Layout > Gut Bottom */
.gut-bottom,
.gut-bottom-1x {margin-left:30px;}
.gut-bottom-2x {margin-left:60px;}
.gut-bottom-3x {margin-left:90px;}
.gut-bottom-4x {margin-left:120px;}
.gut-bottom-5x {margin-left:150px;}
.gut-bottom-6x {margin-left:180px;}
.gut-bottom-1o2x,
.gut-bottom-2o4x {margin-left:15px;}
.gut-bottom-1o3x {margin-left:10px;}
.gut-bottom-2o3x {margin-left:20px;}
.gut-bottom-1o4x {margin-left:7.5px;}
.gut-bottom-3o4x {margin-left:22.5px;}
.gut-bottom-none {margin-left:0;}



/* Layout > Pull Gut Left */
.pull-gut-left {float:right;position:relative;margin-left:-100%;right:100%;clear:both;display:inline;}
/* Legacy Support > Layout > Pull Gut Left > IE 6 and 7 graceful degradation */
.pull-gut-left {*margin-left:0;*right:0;*float:left;}
.pull-gut-left-none {margin-left:0;width:auto;float:none;position:static;}
.pull-gut-left {margin-right:30px;}



/* Layout > Pull Gut Right */
.pull-gut-right {float:left;position:relative;margin-right:-100%;left:100%;clear:both;display:inline;}
/* Legacy Support > Layout > Pull Gut Left > IE 6 and 7 graceful degradation */
.pull-gut-right {*margin-right:0;*left:0;*float:right;}
.pull-gut-right-none {margin-right:0;width:auto;float:none;position:static;}
.pull-gut-right {margin-left:30px;}



/* Max Width */
.width-max-1dx {max-width:330px;}
.width-max-2dx {max-width:690px;}
.width-max-3dx {max-width:1050px;}
.width-max-4dx {max-width:1410px;}
.width-max-5dx {max-width:1770px;}
.width-max-6dx {max-width:2130px;}
.width-max-7dx {max-width:2490px;}
.width-max-none {max-width:none;}



/* Widths */
.widths-1o5 .col-cols,
.widths-1o5 > * {width:20%;}
.widths-1o4 .col-cols,
.widths-1o4 > *,
.widths-2o8 .col-cols,
.widths-2o8 > * {width:25%;}
.widths-2o5 .col-cols,
.widths-2o5 > * {width:40%;}
.widths-1o2 .col-cols,
.widths-1o2 > *,
.widths-2o4 .col-cols,
.widths-2o4 > *,
.widths-3o6 .col-cols,
.widths-3o6 > *,
.widths-4o8 .col-cols,
.widths-4o8 > * {width:50%;}
.widths-3o5 .col-cols,
.widths-3o5 > * {width:60%;}
.widths-3o4 .col-cols,
.widths-3o4 > *,
.widths-6o8 .col-cols,
.widths-6o8 > * {width:75%;}
.widths-4o5 .col-cols,
.widths-4o5 > * {width:80%;}
.widths-1o1 .col-cols,
.widths-1o1 > *,
.widths-2o2 .col-cols,
.widths-2o2 > *,
.widths-3o3 .col-cols,
.widths-3o3 > *,
.widths-4o4 .col-cols,
.widths-4o4 > *,
.widths-5o5 .col-cols,
.widths-5o5 > *,
.widths-6o6 .col-cols,
.widths-6o6 > *,
.widths-7o7 .col-cols,
.widths-7o7 > *,
.widths-8o8 .col-cols,
.widths-8o8 > * {width:100%;}
.widths-1o3 .col-cols,
.widths-1o3 > *,
.widths-2o6 .col-cols,
.widths-2o6 > * {width:33.3333%;}
.widths-1o6 .col-cols,
.widths-1o6 > * {width:16.6666%;}
.widths-1o7 .col-cols,
.widths-1o7 > * {width:14.2857%;}
.widths-1o8 .col-cols,
.widths-1o8 > * {width:12.5%;}
.widths-2o3 .col-cols,
.widths-2o3 > *,
.widths-4o6 .col-cols,
.widths-4o6 > * {width:66.6666%;}
.widths-2o7 .col-cols,
.widths-2o7 > * {width:28.5714%;}
.widths-3o7 .col-cols,
.widths-3o7 > * {width:42.8571%;}
.widths-3o8 .col-cols,
.widths-3o8 > * {width:37.5%;}
.widths-4o7 .col-cols,
.widths-4o7 > * {width:57.1428%;}
.widths-5o6 .col-cols,
.widths-5o6 > * {width:83.3333%;}
.widths-5o7 .col-cols,
.widths-5o7 > * {width:71.4285%;}
.widths-5o8 .col-cols,
.widths-5o8 > * {width:62.5%;}
.widths-6o7 .col-cols,
.widths-6o7 > * {width:85.7142%;}
.widths-7o8 .col-cols,
.widths-7o8 > * {width:87.5%;}
.widths-auto > * {width:auto;}



/* Width */
.width-auto {width:auto;}
.width-1o5 {width:20%;}
.width-1o4,
.width-2o8 {width:25%;}
.width-2o5 {width:40%;}
.width-1o2,
.width-2o4,
.width-3o6,
.width-4o8 {width:50%;}
.width-3o5 {width:60%;}
.width-3o4,
.width-6o8 {width:75%;}
.width-4o5 {width:80%;}
.width-1o1,
.width-2o2,
.width-3o3,
.width-4o4,
.width-5o5,
.width-6o6,
.width-7o7,
.width-8o8 {width:100%;}
.width-1o3,
.width-2o6 {width:33.3333%;}
.width-1o6 {width:16.6666%;}
.width-1o7 {width:14.2857%;}
.width-1o8 {width:12.5%;}
.width-2o3,
.width-4o6 {width:66.6666%;}
.width-2o7 {width:28.5714%;}
.width-3o7 {width:42.8571%;}
.width-3o8 {width:37.5%;}
.width-4o7 {width:57.1428%;}
.width-5o6 {width:83.3333%;}
.width-5o7 {width:71.4285%;}
.width-5o8 {width:62.5%;}
.width-6o7 {width:85.7142%;}
.width-7o8 {width:87.5%;}



/* Widths px */
.width-1x {width:30px;}
.width-2x {width:60px;}
.width-3x {width:90px;}
.width-4x {width:120px;}
.width-5x {width:150px;}
.width-6x {width:180px;}
.width-7x {width:210px;}
.width-8x {width:240px;}
.width-9x {width:270px;}
.width-10x {width:300px;}
.width-11x {width:330px;}
.width-12x {width:360px;}
.width-13x {width:390px;}
.width-14x {width:420px;}
.width-15x {width:450px;}
.width-16x {width:480px;}
.width-17x {width:510px;}
.width-18x {width:540px;}
.width-19x {width:570px;}
.width-20x {width:600px;}
.width-21x {width:630px;}
.width-22x {width:660px;}
.width-23x {width:690px;}



/* Guts */
.guts,
.guts-1x {margin-left:-15px;margin-right:-15px}
.guts-2x {margin-left:-30px;margin-right:-30px}
.guts-3x {margin-left:-45px;margin-right:-45px}
.guts-4x {margin-left:-60px;margin-right:-60px}
.guts-5x {margin-left:-75px;margin-right:-75px}
.guts-6x {margin-left:-90px;margin-right:-90px}
.guts-1o2x,
.guts-2o4x {margin-left:-7.5px;margin-right:-7.5px}
.guts-1o3x {margin-left:-5px;margin-right:-5px}
.guts-2o3x {margin-left:-10px;margin-right:-10px}
.guts-1o4x {margin-left:-3.75px;margin-right:-3.75px}
.guts-3o4x {margin-left:-11.25px;margin-right:-11.25px}
.guts > *,
.guts-1x > *,
.guts-2x > *,
.guts-3x > *,
.guts-4x > *,
.guts-5x > *,
.guts-6x > *,
.guts-1o2x > *,
.guts-1o3x > *,
.guts-2o3x > *,
.guts-1o4x > *,
.guts-2o4x > *,
.guts-3o4x > * {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.guts > *,
.guts-1x > * {padding-left:15px;padding-right:15px}
.guts-2x > * {padding-left:30px;padding-right:30px}
.guts-3x > * {padding-left:45px;padding-right:45px}
.guts-4x > * {padding-left:60px;padding-right:60px}
.guts-5x > * {padding-left:75px;padding-right:75px}
.guts-6x > * {padding-left:90px;padding-right:90px}
.guts-1o2x > *,
.guts-2o4x > * {padding-left:7.5px;padding-right:7.5px}
.guts-1o3x > * {padding-left:5px;padding-right:5px}
.guts-2o3x > * {padding-left:10px;padding-right:10px}
.guts-1o4x > * {padding-left:3.75px;padding-right:3.75px}
.guts-3o4x > * {padding-left:11.25px;padding-right:11.25px}

/* IE 6 and 7 fixes because they don't support box-sizing */
.guts,
.guts-1x,
.guts-2x,
.guts-3x,
.guts-4x,
.guts-5x,
.guts-6x,
.guts-1o2x,
.guts-1o3x,
.guts-2o3x,
.guts-1o4x,
.guts-2o4x,
.guts-3o4x {*margin-left:0;*margin-right:0;}
.guts > *,
.guts-1x > *,
.guts-2x > *,
.guts-3x > *,
.guts-4x > *,
.guts-5x > *,
.guts-6x > *,
.guts-1o2x > *,
.guts-1o3x > *,
.guts-2o3x > *,
.guts-1o4x > *,
.guts-2o4x > *,
.guts-3o4x > * {*padding-left:0;*padding-right:0;}



/* Guts Full-Width classes */
.guts-fw,
.guts-fw-1x {margin-left:-30px;}
.guts-fw-2x {margin-left:-60px;}
.guts-fw-3x {margin-left:-90px;}
.guts-fw-4x {margin-left:-120px;}
.guts-fw-5x {margin-left:-150px;}
.guts-fw-6x {margin-left:-180px;}
.guts-fw-1o2x,
.guts-fw-2o4x {margin-left:-15px;}
.guts-fw-1o3x {margin-left:-10px;}
.guts-fw-2o3x {margin-left:-20px;}
.guts-fw-1o4x {margin-left:-7.5px;}
.guts-fw-3o4x {margin-left:-22.5px;}
.guts-fw > * > *,
.guts-fw-1x > * > * {margin-left:30px;}
.guts-fw-2x > * > * {margin-left:60px;}
.guts-fw-3x > * > * {margin-left:90px;}
.guts-fw-4x > * > * {margin-left:120px;}
.guts-fw-5x > * > * {margin-left:150px;}
.guts-fw-6x > * > * {margin-left:180px;}
.guts-fw-1o2x > * > *,
.guts-fw-2o4x > * > * {margin-left:15px;}
.guts-fw-1o3x > * > * {margin-left:10px;}
.guts-fw-2o3x > * > * {margin-left:20px;}
.guts-fw-1o4x > * > * {margin-left:7.5px;}
.guts-fw-3o4x > * > * {margin-left:22.5px;}


/* Pos */
.pos-1o1,
.pos-1o2,
.pos-1o3,
.pos-1o4,
.pos-1o5,
.pos-1o6,
.pos-1o7,
.pos-1o8 {margin-left:0%;}
.pos-2o5 {margin-left:20%;}
.pos-2o4,
.pos-3o8 {margin-left:25%;}
.pos-3o5 {margin-left:40%;}
.pos-2o2,
.pos-3o4,
.pos-4o6,
.pos-5o8 {margin-left:50%;}
.pos-4o5 {margin-left:60%;}
.pos-4o4,
.pos-7o8 {margin-left:75%;}
.pos-5o5 {margin-left:80%;}
.pos-2o3,
.pos-3o6 {margin-left:33.3333%;}
.pos-2o6 {margin-left:16.6666%;}
.pos-2o7 {margin-left:14.2857%;}
.pos-2o8 {margin-left:12.5%;}
.pos-3o3,
.pos-5o6 {margin-left:66.6666%;}
.pos-3o7 {margin-left:28.5714%;}
.pos-4o7 {margin-left:42.8571%;}
.pos-4o8 {margin-left:37.5%;}
.pos-5o7 {margin-left:57.1428%;}
.pos-6o6 {margin-left:83.3333%;}
.pos-6o7 {margin-left:71.4285%;}
.pos-6o8 {margin-left:62.5%;}
.pos-7o7 {margin-left:85.7142%;}
.pos-8o8 {margin-left:87.5%;}

.pos-1o1,
.pos-1o2,
.pos-1o3,
.pos-1o4,
.pos-1o5,
.pos-1o6,
.pos-1o7,
.pos-1o8,
.pos-2o5,
.pos-2o4,
.pos-3o8,
.pos-3o5,
.pos-2o2,
.pos-3o4,
.pos-4o6,
.pos-5o8,
.pos-4o5,
.pos-4o4,
.pos-7o8,
.pos-5o5,
.pos-2o3,
.pos-3o6,
.pos-2o6,
.pos-2o7,
.pos-2o8,
.pos-3o3,
.pos-5o6,
.pos-3o7,
.pos-4o7,
.pos-4o8,
.pos-5o7,
.pos-6o6,
.pos-6o7,
.pos-6o8,
.pos-7o7,
.pos-8o8 {margin-right:-100%;}






/* Breakpoint-1up */
@media all and (min-width:720px) {



/* Copy */


    
/* Layout > Columns */
.col-1up {float:left;width:100%;}
.col-none-1up {float:none;width:auto;}
.clear-1up {clear:left;}
.clear-none-1up {clear:none;}

.pull-left,
.pull-right {width:auto;}
    





/* Layout > Heights */
.height-1o2x-1up {height:15px;}
.height-1x-1up {height:30px;}
.height-2x-1up {height:60px;}
.height-3x-1up {height:90px;}
.height-4x-1up {height:120px;}
.height-5x-1up {height:150px;}
.height-6x-1up {height:180px;}
.height-7x-1up {height:210px;}
.height-8x-1up {height:240px;}
.height-9x-1up {height:270px;}
.height-10x-1up {height:300px;}
.height-11x-1up {height:330px;}
.height-12x-1up {height:360px;}
.height-13x-1up {height:390px;}
.height-14x-1up {height:420px;}
.height-15x-1up {height:450px;}
.height-16x-1up {height:480px;}
.height-17x-1up {height:510px;}
.height-18x-1up {height:540px;}
.height-19x-1up {height:570px;}
.height-20x-1up {height:600px;}
.height-auto-1up {height:auto;}



/* Layout > Hide Gutter Left */
.hide-gut-left-1up,
.hide-gut-left-1x-1up {margin-left:-30px;}
.hide-gut-left-2x-1up {margin-left:-60px;}
.hide-gut-left-3x-1up {margin-left:-90px;}
.hide-gut-left-4x-1up {margin-left:-120px;}
.hide-gut-left-5x-1up {margin-left:-150px;}
.hide-gut-left-6x-1up {margin-left:-180px;}
.hide-gut-left-1o2x-1up,
.hide-gut-left-2o4x-1up {margin-left:-15px;}
.hide-gut-left-1o3x-1up {margin-left:-10px;}
.hide-gut-left-2o3x-1up {margin-left:-20px;}
.hide-gut-left-1o4x-1up {margin-left:-7.5px;}
.hide-gut-left-3o4x-1up {margin-left:-22.5px;}
.hide-gut-left-none-1up {margin-left:0;}



/* Layout > Gut Left */
.gut-left-1up,
.gut-left-1x-1up {margin-left:30px;}
.gut-left-2x-1up {margin-left:60px;}
.gut-left-3x-1up {margin-left:90px;}
.gut-left-4x-1up,
.gut-left-small-1up {margin-left:120px;}
.gut-left-5x-1up {margin-left:150px;}
.gut-left-6x-1up {margin-left:180px;}
.gut-left-1o2x-1up,
.gut-left-2o4x-1up {margin-left:15px;}
.gut-left-1o3x-1up {margin-left:10px;}
.gut-left-2o3x-1up {margin-left:20px;}
.gut-left-1o4x-1up {margin-left:7.5px;}
.gut-left-3o4x-1up {margin-left:22.5px;}
.gut-left-none-1up {margin-left:0;}
.gut-left-medium-1up {margin-left:270px;}
.gut-left-large-1up {margin-left:420px;}



/* Layout > Gut Right */
.gut-right-1up,
.gut-right-1x-1up {margin-left:30px;}
.gut-right-2x-1up {margin-left:60px;}
.gut-right-3x-1up {margin-left:90px;}
.gut-right-4x-1up,
.gut-right-small-1up {margin-left:120px;}
.gut-right-5x-1up {margin-left:150px;}
.gut-right-6x-1up {margin-left:180px;}
.gut-right-1o2x-1up,
.gut-right-2o4x-1up {margin-left:15px;}
.gut-right-1o3x-1up {margin-left:10px;}
.gut-right-2o3x-1up {margin-left:20px;}
.gut-right-1o4x-1up {margin-left:7.5px;}
.gut-right-3o4x-1up {margin-left:22.5px;}
.gut-right-none-1up {margin-left:0;}
.gut-right-medium-1up {margin-left:270px;}
.gut-right-large-1up {margin-left:420px;}



/* Layout > Gut Bottom */
.gut-bottom-1up,
.gut-bottom-1x-1up {margin-left:30px;}
.gut-bottom-2x-1up {margin-left:60px;}
.gut-bottom-3x-1up {margin-left:90px;}
.gut-bottom-4x-1up {margin-left:120px;}
.gut-bottom-5x-1up {margin-left:150px;}
.gut-bottom-6x-1up {margin-left:180px;}
.gut-bottom-1o2x-1up,
.gut-bottom-2o4x-1up {margin-left:15px;}
.gut-bottom-1o3x-1up {margin-left:10px;}
.gut-bottom-2o3x-1up {margin-left:20px;}
.gut-bottom-1o4x-1up {margin-left:7.5px;}
.gut-bottom-3o4x-1up {margin-left:22.5px;}
.gut-bottom-none-1up {margin-left:0;}



/* Layout > Pull Gut Left */
.pull-gut-left-1up {float:right;position:relative;margin-left:-100%;right:100%;clear:both;display:inline;}
/* Legacy Support > Layout > Pull Gut Left > IE 6 and 7 graceful degradation */
.pull-gut-left-1up {*margin-left:0;*right:0;*float:left;}
.pull-gut-left-none-1up {margin-left:0;width:auto;float:none;position:static;}
.pull-gut-left-1up {margin-right:30px;}



/* Layout > Pull Gut Right */
.pull-gut-right-1up {float:left;position:relative;margin-right:-100%;left:100%;clear:both;display:inline;}
/* Legacy Support > Layout > Pull Gut Left > IE 6 and 7 graceful degradation */
.pull-gut-right-1up {*margin-right:0;*left:0;*float:right;}
.pull-gut-right-none-1up {margin-right:0;width:auto;float:none;position:static;}
.pull-gut-right-1up {margin-left:30px;}



/* Max Width */
.width-max {max-width:780px;}
.width-max-1dx-1up {max-width:330px;}
.width-max-2dx-1up {max-width:690px;}
.width-max-3dx-1up {max-width:1050px;}
.width-max-4dx-1up {max-width:1410px;}
.width-max-5dx-1up {max-width:1770px;}
.width-max-6dx-1up {max-width:2130px;}
.width-max-7dx-1up {max-width:2490px;}
.width-max-none-1up {max-width:none;}



/* Widths */
.widths-1o5-1up .col-cols,
.widths-1o5-1up > * {width:20%;}
.widths-1o4-1up .col-cols,
.widths-1o4-1up > *,
.widths-2o8-1up .col-cols,
.widths-2o8-1up > * {width:25%;}
.widths-2o5-1up .col-cols,
.widths-2o5-1up > * {width:40%;}
.widths-1o2-1up .col-cols,
.widths-1o2-1up > *,
.widths-2o4-1up .col-cols,
.widths-2o4-1up > *,
.widths-3o6-1up .col-cols,
.widths-3o6-1up > *,
.widths-4o8-1up .col-cols,
.widths-4o8-1up > * {width:50%;}
.widths-3o5-1up .col-cols,
.widths-3o5-1up > * {width:60%;}
.widths-3o4-1up .col-cols,
.widths-3o4-1up > *,
.widths-6o8-1up .col-cols,
.widths-6o8-1up > * {width:75%;}
.widths-4o5-1up .col-cols,
.widths-4o5-1up > * {width:80%;}
.widths-1o1-1up .col-cols,
.widths-1o1-1up > *,
.widths-2o2-1up .col-cols,
.widths-2o2-1up > *,
.widths-3o3-1up .col-cols,
.widths-3o3-1up > *,
.widths-4o4-1up .col-cols,
.widths-4o4-1up > *,
.widths-5o5-1up .col-cols,
.widths-5o5-1up > *,
.widths-6o6-1up .col-cols,
.widths-6o6-1up > *,
.widths-7o7-1up .col-cols,
.widths-7o7-1up > *,
.widths-8o8-1up .col-cols,
.widths-8o8-1up > * {width:100%;}
.widths-1o3-1up .col-cols,
.widths-1o3-1up > *,
.widths-2o6-1up .col-cols,
.widths-2o6-1up > * {width:33.3333%;}
.widths-1o6-1up .col-cols,
.widths-1o6-1up > * {width:16.6666%;}
.widths-1o7-1up .col-cols,
.widths-1o7-1up > * {width:14.2857%;}
.widths-1o8-1up .col-cols,
.widths-1o8-1up > * {width:12.5%;}
.widths-2o3-1up .col-cols,
.widths-2o3-1up > *,
.widths-4o6-1up .col-cols,
.widths-4o6-1up > * {width:66.6666%;}
.widths-2o7-1up .col-cols,
.widths-2o7-1up > * {width:28.5714%;}
.widths-3o7-1up .col-cols,
.widths-3o7-1up > * {width:42.8571%;}
.widths-3o8-1up .col-cols,
.widths-3o8-1up > * {width:37.5%;}
.widths-4o7-1up .col-cols,
.widths-4o7-1up > * {width:57.1428%;}
.widths-5o6-1up .col-cols,
.widths-5o6-1up > * {width:83.3333%;}
.widths-5o7-1up .col-cols,
.widths-5o7-1up > * {width:71.4285%;}
.widths-5o8-1up .col-cols,
.widths-5o8-1up > * {width:62.5%;}
.widths-6o7-1up .col-cols,
.widths-6o7-1up > * {width:85.7142%;}
.widths-7o8-1up .col-cols,
.widths-7o8-1up > * {width:87.5%;}
.widths-auto-1up > * {width:auto;}



/* Width */
.width-auto-1up {width:auto;}
.width-1o5-1up {width:20%;}
.width-1o4-1up,
.width-2o8-1up {width:25%;}
.width-2o5-1up {width:40%;}
.width-1o2-1up,
.width-2o4-1up,
.width-3o6-1up,
.width-4o8-1up {width:50%;}
.width-3o5-1up {width:60%;}
.width-3o4-1up,
.width-6o8-1up {width:75%;}
.width-4o5-1up {width:80%;}
.width-1o1-1up,
.width-2o2-1up,
.width-3o3-1up,
.width-4o4-1up,
.width-5o5-1up,
.width-6o6-1up,
.width-7o7-1up,
.width-8o8-1up {width:100%;}
.width-1o3-1up,
.width-2o6-1up {width:33.3333%;}
.width-1o6-1up {width:16.6666%;}
.width-1o7-1up {width:14.2857%;}
.width-1o8-1up {width:12.5%;}
.width-2o3-1up,
.width-4o6-1up {width:66.6666%;}
.width-2o7-1up {width:28.5714%;}
.width-3o7-1up {width:42.8571%;}
.width-3o8-1up {width:37.5%;}
.width-4o7-1up {width:57.1428%;}
.width-5o6-1up {width:83.3333%;}
.width-5o7-1up {width:71.4285%;}
.width-5o8-1up {width:62.5%;}
.width-6o7-1up {width:85.7142%;}
.width-7o8-1up {width:87.5%;}



/* Widths px */
.width-1x-1up {width:30px;}
.width-2x-1up {width:60px;}
.width-3x-1up {width:90px;}
.width-4x-1up {width:120px;}
.width-5x-1up {width:150px;}
.width-6x-1up {width:180px;}
.width-7x-1up {width:210px;}
.width-8x-1up {width:240px;}
.width-9x-1up {width:270px;}
.width-10x-1up {width:300px;}
.width-11x-1up {width:330px;}
.width-12x-1up {width:360px;}
.width-13x-1up {width:390px;}
.width-14x-1up {width:420px;}
.width-15x-1up {width:450px;}
.width-16x-1up {width:480px;}
.width-17x-1up {width:510px;}
.width-18x-1up {width:540px;}
.width-19x-1up {width:570px;}
.width-20x-1up {width:600px;}
.width-21x-1up {width:630px;}
.width-22x-1up {width:660px;}
.width-23x-1up {width:690px;}



/* Guts */
.guts-1up,
.guts-1x-1up {margin-left:-15px;margin-right:-15px}
.guts-2x-1up {margin-left:-30px;margin-right:-30px}
.guts-3x-1up {margin-left:-45px;margin-right:-45px}
.guts-4x-1up {margin-left:-60px;margin-right:-60px}
.guts-5x-1up {margin-left:-75px;margin-right:-75px}
.guts-6x-1up {margin-left:-90px;margin-right:-90px}
.guts-1o2x-1up,
.guts-2o4x-1up {margin-left:-7.5px;margin-right:-7.5px}
.guts-1o3x-1up {margin-left:-5px;margin-right:-5px}
.guts-2o3x-1up {margin-left:-10px;margin-right:-10px}
.guts-1o4x-1up {margin-left:-3.75px;margin-right:-3.75px}
.guts-3o4x-1up {margin-left:-11.25px;margin-right:-11.25px}
.guts-1up > *,
.guts-1x-1up > *,
.guts-2x-1up > *,
.guts-3x-1up > *,
.guts-4x-1up > *,
.guts-5x-1up > *,
.guts-6x-1up > *,
.guts-1o2x-1up > *,
.guts-1o3x-1up > *,
.guts-2o3x-1up > *,
.guts-1o4x-1up > *,
.guts-2o4x-1up > *,
.guts-3o4x-1up > * {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.guts-1up > *,
.guts-1x-1up > * {padding-left:15px;padding-right:15px}
.guts-2x-1up > * {padding-left:30px;padding-right:30px}
.guts-3x-1up > * {padding-left:45px;padding-right:45px}
.guts-4x-1up > * {padding-left:60px;padding-right:60px}
.guts-5x-1up > * {padding-left:75px;padding-right:75px}
.guts-6x-1up > * {padding-left:90px;padding-right:90px}
.guts-1o2x-1up > *,
.guts-2o4x-1up > * {padding-left:7.5px;padding-right:7.5px}
.guts-1o3x-1up > * {padding-left:5px;padding-right:5px}
.guts-2o3x-1up > * {padding-left:10px;padding-right:10px}
.guts-1o4x-1up > * {padding-left:3.75px;padding-right:3.75px}
.guts-3o4x-1up > * {padding-left:11.25px;padding-right:11.25px}

/* IE 6 and 7 fixes because they don't support box-sizing */
.guts-1up,
.guts-1x-1up,
.guts-2x-1up,
.guts-3x-1up,
.guts-4x-1up,
.guts-5x-1up,
.guts-6x-1up,
.guts-1o2x-1up,
.guts-1o3x-1up,
.guts-2o3x-1up,
.guts-1o4x-1up,
.guts-2o4x-1up,
.guts-3o4x-1up {*margin-left:0;*margin-right:0;}
.guts-1up > *,
.guts-1x-1up > *,
.guts-2x-1up > *,
.guts-3x-1up > *,
.guts-4x-1up > *,
.guts-5x-1up > *,
.guts-6x-1up > *,
.guts-1o2x-1up > *,
.guts-1o3x-1up > *,
.guts-2o3x-1up > *,
.guts-1o4x-1up > *,
.guts-2o4x-1up > *,
.guts-3o4x-1up > * {*padding-left:0;*padding-right:0;}



/* Guts Full-Width classes */
.guts-fw-1up,
.guts-fw-1x-1up {margin-left:-30px;}
.guts-fw-2x-1up {margin-left:-60px;}
.guts-fw-3x-1up {margin-left:-90px;}
.guts-fw-4x-1up {margin-left:-120px;}
.guts-fw-5x-1up {margin-left:-150px;}
.guts-fw-6x-1up {margin-left:-180px;}
.guts-fw-1o2x-1up,
.guts-fw-2o4x-1up {margin-left:-15px;}
.guts-fw-1o3x-1up {margin-left:-10px;}
.guts-fw-2o3x-1up {margin-left:-20px;}
.guts-fw-1o4x-1up {margin-left:-7.5px;}
.guts-fw-3o4x-1up {margin-left:-22.5px;}
.guts-fw-1up > * > *,
.guts-fw-1x-1up > * > * {margin-left:30px;}
.guts-fw-2x-1up > * > * {margin-left:60px;}
.guts-fw-3x-1up > * > * {margin-left:90px;}
.guts-fw-4x-1up > * > * {margin-left:120px;}
.guts-fw-5x-1up > * > * {margin-left:150px;}
.guts-fw-6x-1up > * > * {margin-left:180px;}
.guts-fw-1o2x-1up > * > *,
.guts-fw-2o4x-1up > * > * {margin-left:15px;}
.guts-fw-1o3x-1up > * > * {margin-left:10px;}
.guts-fw-2o3x-1up > * > * {margin-left:20px;}
.guts-fw-1o4x-1up > * > * {margin-left:7.5px;}
.guts-fw-3o4x-1up > * > * {margin-left:22.5px;}


/* Pos */
.pos-1o1-1up,
.pos-1o2-1up,
.pos-1o3-1up,
.pos-1o4-1up,
.pos-1o5-1up,
.pos-1o6-1up,
.pos-1o7-1up,
.pos-1o8-1up {margin-left:0%;}
.pos-2o5-1up {margin-left:20%;}
.pos-2o4-1up,
.pos-3o8-1up {margin-left:25%;}
.pos-3o5-1up {margin-left:40%;}
.pos-2o2-1up,
.pos-3o4-1up,
.pos-4o6-1up,
.pos-5o8-1up {margin-left:50%;}
.pos-4o5-1up {margin-left:60%;}
.pos-4o4-1up,
.pos-7o8-1up {margin-left:75%;}
.pos-5o5-1up {margin-left:80%;}
.pos-2o3-1up,
.pos-3o6-1up {margin-left:33.3333%;}
.pos-2o6-1up {margin-left:16.6666%;}
.pos-2o7-1up {margin-left:14.2857%;}
.pos-2o8-1up {margin-left:12.5%;}
.pos-3o3-1up,
.pos-5o6-1up {margin-left:66.6666%;}
.pos-3o7-1up {margin-left:28.5714%;}
.pos-4o7-1up {margin-left:42.8571%;}
.pos-4o8-1up {margin-left:37.5%;}
.pos-5o7-1up {margin-left:57.1428%;}
.pos-6o6-1up {margin-left:83.3333%;}
.pos-6o7-1up {margin-left:71.4285%;}
.pos-6o8-1up {margin-left:62.5%;}
.pos-7o7-1up {margin-left:85.7142%;}
.pos-8o8-1up {margin-left:87.5%;}

.pos-1o1-1up,
.pos-1o2-1up,
.pos-1o3-1up,
.pos-1o4-1up,
.pos-1o5-1up,
.pos-1o6-1up,
.pos-1o7-1up,
.pos-1o8-1up,
.pos-2o5-1up,
.pos-2o4-1up,
.pos-3o8-1up,
.pos-3o5-1up,
.pos-2o2-1up,
.pos-3o4-1up,
.pos-4o6-1up,
.pos-5o8-1up,
.pos-4o5-1up,
.pos-4o4-1up,
.pos-7o8-1up,
.pos-5o5-1up,
.pos-2o3-1up,
.pos-3o6-1up,
.pos-2o6-1up,
.pos-2o7-1up,
.pos-2o8-1up,
.pos-3o3-1up,
.pos-5o6-1up,
.pos-3o7-1up,
.pos-4o7-1up,
.pos-4o8-1up,
.pos-5o7-1up,
.pos-6o6-1up,
.pos-6o7-1up,
.pos-6o8-1up,
.pos-7o7-1up,
.pos-8o8-1up {margin-right:-100%;}




}


/* Breakpoint-2up */
@media all and (min-width:960px) {



/* Copy */


    
/* Layout > Columns */
.col-2up {float:left;width:100%;}
.col-none-2up {float:none;width:auto;}
.clear-2up {clear:left;}
.clear-none-2up {clear:none;}






/* Layout > Heights */
.height-1o2x-2up {height:15px;}
.height-1x-2up {height:30px;}
.height-2x-2up {height:60px;}
.height-3x-2up {height:90px;}
.height-4x-2up {height:120px;}
.height-5x-2up {height:150px;}
.height-6x-2up {height:180px;}
.height-7x-2up {height:210px;}
.height-8x-2up {height:240px;}
.height-9x-2up {height:270px;}
.height-10x-2up {height:300px;}
.height-11x-2up {height:330px;}
.height-12x-2up {height:360px;}
.height-13x-2up {height:390px;}
.height-14x-2up {height:420px;}
.height-15x-2up {height:450px;}
.height-16x-2up {height:480px;}
.height-17x-2up {height:510px;}
.height-18x-2up {height:540px;}
.height-19x-2up {height:570px;}
.height-20x-2up {height:600px;}
.height-auto-2up {height:auto;}



/* Layout > Hide Gutter Left */
.hide-gut-left-2up,
.hide-gut-left-1x-2up {margin-left:-30px;}
.hide-gut-left-2x-2up {margin-left:-60px;}
.hide-gut-left-3x-2up {margin-left:-90px;}
.hide-gut-left-4x-2up {margin-left:-120px;}
.hide-gut-left-5x-2up {margin-left:-150px;}
.hide-gut-left-6x-2up {margin-left:-180px;}
.hide-gut-left-1o2x-2up,
.hide-gut-left-2o4x-2up {margin-left:-15px;}
.hide-gut-left-1o3x-2up {margin-left:-10px;}
.hide-gut-left-2o3x-2up {margin-left:-20px;}
.hide-gut-left-1o4x-2up {margin-left:-7.5px;}
.hide-gut-left-3o4x-2up {margin-left:-22.5px;}
.hide-gut-left-none-2up {margin-left:0;}



/* Layout > Gut Left */
.gut-left-2up,
.gut-left-1x-2up {margin-left:30px;}
.gut-left-2x-2up {margin-left:60px;}
.gut-left-3x-2up {margin-left:90px;}
.gut-left-4x-2up,
.gut-left-small-2up {margin-left:120px;}
.gut-left-5x-2up {margin-left:150px;}
.gut-left-6x-2up {margin-left:180px;}
.gut-left-1o2x-2up,
.gut-left-2o4x-2up {margin-left:15px;}
.gut-left-1o3x-2up {margin-left:10px;}
.gut-left-2o3x-2up {margin-left:20px;}
.gut-left-1o4x-2up {margin-left:7.5px;}
.gut-left-3o4x-2up {margin-left:22.5px;}
.gut-left-none-2up {margin-left:0;}
.gut-left-medium-2up {margin-left:270px;}
.gut-left-large-2up {margin-left:420px;}



/* Layout > Gut Right */
.gut-right-2up,
.gut-right-1x-2up {margin-left:30px;}
.gut-right-2x-2up {margin-left:60px;}
.gut-right-3x-2up {margin-left:90px;}
.gut-right-4x-2up,
.gut-right-small-2up {margin-left:120px;}
.gut-right-5x-2up {margin-left:150px;}
.gut-right-6x-2up {margin-left:180px;}
.gut-right-1o2x-2up,
.gut-right-2o4x-2up {margin-left:15px;}
.gut-right-1o3x-2up {margin-left:10px;}
.gut-right-2o3x-2up {margin-left:20px;}
.gut-right-1o4x-2up {margin-left:7.5px;}
.gut-right-3o4x-2up {margin-left:22.5px;}
.gut-right-none-2up {margin-left:0;}
.gut-right-medium-2up {margin-left:270px;}
.gut-right-large-2up {margin-left:420px;}



/* Layout > Gut Bottom */
.gut-bottom-2up,
.gut-bottom-1x-2up {margin-left:30px;}
.gut-bottom-2x-2up {margin-left:60px;}
.gut-bottom-3x-2up {margin-left:90px;}
.gut-bottom-4x-2up {margin-left:120px;}
.gut-bottom-5x-2up {margin-left:150px;}
.gut-bottom-6x-2up {margin-left:180px;}
.gut-bottom-1o2x-2up,
.gut-bottom-2o4x-2up {margin-left:15px;}
.gut-bottom-1o3x-2up {margin-left:10px;}
.gut-bottom-2o3x-2up {margin-left:20px;}
.gut-bottom-1o4x-2up {margin-left:7.5px;}
.gut-bottom-3o4x-2up {margin-left:22.5px;}
.gut-bottom-none-2up {margin-left:0;}



/* Layout > Pull Gut Left */
.pull-gut-left-2up {float:right;position:relative;margin-left:-100%;right:100%;clear:both;display:inline;}
/* Legacy Support > Layout > Pull Gut Left > IE 6 and 7 graceful degradation */
.pull-gut-left-2up {*margin-left:0;*right:0;*float:left;}
.pull-gut-left-none-2up {margin-left:0;width:auto;float:none;position:static;}
.pull-gut-left-2up {margin-right:30px;}



/* Layout > Pull Gut Right */
.pull-gut-right-2up {float:left;position:relative;margin-right:-100%;left:100%;clear:both;display:inline;}
/* Legacy Support > Layout > Pull Gut Left > IE 6 and 7 graceful degradation */
.pull-gut-right-2up {*margin-right:0;*left:0;*float:right;}
.pull-gut-right-none-2up {margin-right:0;width:auto;float:none;position:static;}
.pull-gut-right-2up {margin-left:30px;}



/* Max Width */
.width-max {max-width:1020px;}
.width-max-1dx-2up {max-width:330px;}
.width-max-2dx-2up {max-width:690px;}
.width-max-3dx-2up {max-width:1050px;}
.width-max-4dx-2up {max-width:1410px;}
.width-max-5dx-2up {max-width:1770px;}
.width-max-6dx-2up {max-width:2130px;}
.width-max-7dx-2up {max-width:2490px;}
.width-max-none-2up {max-width:none;}



/* Widths */
.widths-1o5-2up .col-cols,
.widths-1o5-2up > * {width:20%;}
.widths-1o4-2up .col-cols,
.widths-1o4-2up > *,
.widths-2o8-2up .col-cols,
.widths-2o8-2up > * {width:25%;}
.widths-2o5-2up .col-cols,
.widths-2o5-2up > * {width:40%;}
.widths-1o2-2up .col-cols,
.widths-1o2-2up > *,
.widths-2o4-2up .col-cols,
.widths-2o4-2up > *,
.widths-3o6-2up .col-cols,
.widths-3o6-2up > *,
.widths-4o8-2up .col-cols,
.widths-4o8-2up > * {width:50%;}
.widths-3o5-2up .col-cols,
.widths-3o5-2up > * {width:60%;}
.widths-3o4-2up .col-cols,
.widths-3o4-2up > *,
.widths-6o8-2up .col-cols,
.widths-6o8-2up > * {width:75%;}
.widths-4o5-2up .col-cols,
.widths-4o5-2up > * {width:80%;}
.widths-1o1-2up .col-cols,
.widths-1o1-2up > *,
.widths-2o2-2up .col-cols,
.widths-2o2-2up > *,
.widths-3o3-2up .col-cols,
.widths-3o3-2up > *,
.widths-4o4-2up .col-cols,
.widths-4o4-2up > *,
.widths-5o5-2up .col-cols,
.widths-5o5-2up > *,
.widths-6o6-2up .col-cols,
.widths-6o6-2up > *,
.widths-7o7-2up .col-cols,
.widths-7o7-2up > *,
.widths-8o8-2up .col-cols,
.widths-8o8-2up > * {width:100%;}
.widths-1o3-2up .col-cols,
.widths-1o3-2up > *,
.widths-2o6-2up .col-cols,
.widths-2o6-2up > * {width:33.3333%;}
.widths-1o6-2up .col-cols,
.widths-1o6-2up > * {width:16.6666%;}
.widths-1o7-2up .col-cols,
.widths-1o7-2up > * {width:14.2857%;}
.widths-1o8-2up .col-cols,
.widths-1o8-2up > * {width:12.5%;}
.widths-2o3-2up .col-cols,
.widths-2o3-2up > *,
.widths-4o6-2up .col-cols,
.widths-4o6-2up > * {width:66.6666%;}
.widths-2o7-2up .col-cols,
.widths-2o7-2up > * {width:28.5714%;}
.widths-3o7-2up .col-cols,
.widths-3o7-2up > * {width:42.8571%;}
.widths-3o8-2up .col-cols,
.widths-3o8-2up > * {width:37.5%;}
.widths-4o7-2up .col-cols,
.widths-4o7-2up > * {width:57.1428%;}
.widths-5o6-2up .col-cols,
.widths-5o6-2up > * {width:83.3333%;}
.widths-5o7-2up .col-cols,
.widths-5o7-2up > * {width:71.4285%;}
.widths-5o8-2up .col-cols,
.widths-5o8-2up > * {width:62.5%;}
.widths-6o7-2up .col-cols,
.widths-6o7-2up > * {width:85.7142%;}
.widths-7o8-2up .col-cols,
.widths-7o8-2up > * {width:87.5%;}
.widths-auto-2up > * {width:auto;}



/* Width */
.width-auto-2up {width:auto;}
.width-1o5-2up {width:20%;}
.width-1o4-2up,
.width-2o8-2up {width:25%;}
.width-2o5-2up {width:40%;}
.width-1o2-2up,
.width-2o4-2up,
.width-3o6-2up,
.width-4o8-2up {width:50%;}
.width-3o5-2up {width:60%;}
.width-3o4-2up,
.width-6o8-2up {width:75%;}
.width-4o5-2up {width:80%;}
.width-1o1-2up,
.width-2o2-2up,
.width-3o3-2up,
.width-4o4-2up,
.width-5o5-2up,
.width-6o6-2up,
.width-7o7-2up,
.width-8o8-2up {width:100%;}
.width-1o3-2up,
.width-2o6-2up {width:33.3333%;}
.width-1o6-2up {width:16.6666%;}
.width-1o7-2up {width:14.2857%;}
.width-1o8-2up {width:12.5%;}
.width-2o3-2up,
.width-4o6-2up {width:66.6666%;}
.width-2o7-2up {width:28.5714%;}
.width-3o7-2up {width:42.8571%;}
.width-3o8-2up {width:37.5%;}
.width-4o7-2up {width:57.1428%;}
.width-5o6-2up {width:83.3333%;}
.width-5o7-2up {width:71.4285%;}
.width-5o8-2up {width:62.5%;}
.width-6o7-2up {width:85.7142%;}
.width-7o8-2up {width:87.5%;}



/* Widths px */
.width-1x-2up {width:30px;}
.width-2x-2up {width:60px;}
.width-3x-2up {width:90px;}
.width-4x-2up {width:120px;}
.width-5x-2up {width:150px;}
.width-6x-2up {width:180px;}
.width-7x-2up {width:210px;}
.width-8x-2up {width:240px;}
.width-9x-2up {width:270px;}
.width-10x-2up {width:300px;}
.width-11x-2up {width:330px;}
.width-12x-2up {width:360px;}
.width-13x-2up {width:390px;}
.width-14x-2up {width:420px;}
.width-15x-2up {width:450px;}
.width-16x-2up {width:480px;}
.width-17x-2up {width:510px;}
.width-18x-2up {width:540px;}
.width-19x-2up {width:570px;}
.width-20x-2up {width:600px;}
.width-21x-2up {width:630px;}
.width-22x-2up {width:660px;}
.width-23x-2up {width:690px;}



/* Guts */
.guts-2up,
.guts-1x-2up {margin-left:-15px;margin-right:-15px}
.guts-2x-2up {margin-left:-30px;margin-right:-30px}
.guts-3x-2up {margin-left:-45px;margin-right:-45px}
.guts-4x-2up {margin-left:-60px;margin-right:-60px}
.guts-5x-2up {margin-left:-75px;margin-right:-75px}
.guts-6x-2up {margin-left:-90px;margin-right:-90px}
.guts-1o2x-2up,
.guts-2o4x-2up {margin-left:-7.5px;margin-right:-7.5px}
.guts-1o3x-2up {margin-left:-5px;margin-right:-5px}
.guts-2o3x-2up {margin-left:-10px;margin-right:-10px}
.guts-1o4x-2up {margin-left:-3.75px;margin-right:-3.75px}
.guts-3o4x-2up {margin-left:-11.25px;margin-right:-11.25px}
.guts-2up > *,
.guts-1x-2up > *,
.guts-2x-2up > *,
.guts-3x-2up > *,
.guts-4x-2up > *,
.guts-5x-2up > *,
.guts-6x-2up > *,
.guts-1o2x-2up > *,
.guts-1o3x-2up > *,
.guts-2o3x-2up > *,
.guts-1o4x-2up > *,
.guts-2o4x-2up > *,
.guts-3o4x-2up > * {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.guts-2up > *,
.guts-1x-2up > * {padding-left:15px;padding-right:15px}
.guts-2x-2up > * {padding-left:30px;padding-right:30px}
.guts-3x-2up > * {padding-left:45px;padding-right:45px}
.guts-4x-2up > * {padding-left:60px;padding-right:60px}
.guts-5x-2up > * {padding-left:75px;padding-right:75px}
.guts-6x-2up > * {padding-left:90px;padding-right:90px}
.guts-1o2x-2up > *,
.guts-2o4x-2up > * {padding-left:7.5px;padding-right:7.5px}
.guts-1o3x-2up > * {padding-left:5px;padding-right:5px}
.guts-2o3x-2up > * {padding-left:10px;padding-right:10px}
.guts-1o4x-2up > * {padding-left:3.75px;padding-right:3.75px}
.guts-3o4x-2up > * {padding-left:11.25px;padding-right:11.25px}

/* IE 6 and 7 fixes because they don't support box-sizing */
.guts-2up,
.guts-1x-2up,
.guts-2x-2up,
.guts-3x-2up,
.guts-4x-2up,
.guts-5x-2up,
.guts-6x-2up,
.guts-1o2x-2up,
.guts-1o3x-2up,
.guts-2o3x-2up,
.guts-1o4x-2up,
.guts-2o4x-2up,
.guts-3o4x-2up {*margin-left:0;*margin-right:0;}
.guts-2up > *,
.guts-1x-2up > *,
.guts-2x-2up > *,
.guts-3x-2up > *,
.guts-4x-2up > *,
.guts-5x-2up > *,
.guts-6x-2up > *,
.guts-1o2x-2up > *,
.guts-1o3x-2up > *,
.guts-2o3x-2up > *,
.guts-1o4x-2up > *,
.guts-2o4x-2up > *,
.guts-3o4x-2up > * {*padding-left:0;*padding-right:0;}



/* Guts Full-Width classes */
.guts-fw-2up,
.guts-fw-1x-2up {margin-left:-30px;}
.guts-fw-2x-2up {margin-left:-60px;}
.guts-fw-3x-2up {margin-left:-90px;}
.guts-fw-4x-2up {margin-left:-120px;}
.guts-fw-5x-2up {margin-left:-150px;}
.guts-fw-6x-2up {margin-left:-180px;}
.guts-fw-1o2x-2up,
.guts-fw-2o4x-2up {margin-left:-15px;}
.guts-fw-1o3x-2up {margin-left:-10px;}
.guts-fw-2o3x-2up {margin-left:-20px;}
.guts-fw-1o4x-2up {margin-left:-7.5px;}
.guts-fw-3o4x-2up {margin-left:-22.5px;}
.guts-fw-2up > * > *,
.guts-fw-1x-2up > * > * {margin-left:30px;}
.guts-fw-2x-2up > * > * {margin-left:60px;}
.guts-fw-3x-2up > * > * {margin-left:90px;}
.guts-fw-4x-2up > * > * {margin-left:120px;}
.guts-fw-5x-2up > * > * {margin-left:150px;}
.guts-fw-6x-2up > * > * {margin-left:180px;}
.guts-fw-1o2x-2up > * > *,
.guts-fw-2o4x-2up > * > * {margin-left:15px;}
.guts-fw-1o3x-2up > * > * {margin-left:10px;}
.guts-fw-2o3x-2up > * > * {margin-left:20px;}
.guts-fw-1o4x-2up > * > * {margin-left:7.5px;}
.guts-fw-3o4x-2up > * > * {margin-left:22.5px;}


/* Pos */
.pos-1o1-2up,
.pos-1o2-2up,
.pos-1o3-2up,
.pos-1o4-2up,
.pos-1o5-2up,
.pos-1o6-2up,
.pos-1o7-2up,
.pos-1o8-2up {margin-left:0%;}
.pos-2o5-2up {margin-left:20%;}
.pos-2o4-2up,
.pos-3o8-2up {margin-left:25%;}
.pos-3o5-2up {margin-left:40%;}
.pos-2o2-2up,
.pos-3o4-2up,
.pos-4o6-2up,
.pos-5o8-2up {margin-left:50%;}
.pos-4o5-2up {margin-left:60%;}
.pos-4o4-2up,
.pos-7o8-2up {margin-left:75%;}
.pos-5o5-2up {margin-left:80%;}
.pos-2o3-2up,
.pos-3o6-2up {margin-left:33.3333%;}
.pos-2o6-2up {margin-left:16.6666%;}
.pos-2o7-2up {margin-left:14.2857%;}
.pos-2o8-2up {margin-left:12.5%;}
.pos-3o3-2up,
.pos-5o6-2up {margin-left:66.6666%;}
.pos-3o7-2up {margin-left:28.5714%;}
.pos-4o7-2up {margin-left:42.8571%;}
.pos-4o8-2up {margin-left:37.5%;}
.pos-5o7-2up {margin-left:57.1428%;}
.pos-6o6-2up {margin-left:83.3333%;}
.pos-6o7-2up {margin-left:71.4285%;}
.pos-6o8-2up {margin-left:62.5%;}
.pos-7o7-2up {margin-left:85.7142%;}
.pos-8o8-2up {margin-left:87.5%;}

.pos-1o1-2up,
.pos-1o2-2up,
.pos-1o3-2up,
.pos-1o4-2up,
.pos-1o5-2up,
.pos-1o6-2up,
.pos-1o7-2up,
.pos-1o8-2up,
.pos-2o5-2up,
.pos-2o4-2up,
.pos-3o8-2up,
.pos-3o5-2up,
.pos-2o2-2up,
.pos-3o4-2up,
.pos-4o6-2up,
.pos-5o8-2up,
.pos-4o5-2up,
.pos-4o4-2up,
.pos-7o8-2up,
.pos-5o5-2up,
.pos-2o3-2up,
.pos-3o6-2up,
.pos-2o6-2up,
.pos-2o7-2up,
.pos-2o8-2up,
.pos-3o3-2up,
.pos-5o6-2up,
.pos-3o7-2up,
.pos-4o7-2up,
.pos-4o8-2up,
.pos-5o7-2up,
.pos-6o6-2up,
.pos-6o7-2up,
.pos-6o8-2up,
.pos-7o7-2up,
.pos-8o8-2up {margin-right:-100%;}




}


/* Breakpoint-3up */
@media all and (min-width:1200px) {



/* Copy */


    
/* Layout > Columns */
.col-3up {float:left;width:100%;}
.col-none-3up {float:none;width:auto;}
.clear-3up {clear:left;}
.clear-none-3up {clear:none;}






/* Layout > Heights */
.height-1o2x-3up {height:15px;}
.height-1x-3up {height:30px;}
.height-2x-3up {height:60px;}
.height-3x-3up {height:90px;}
.height-4x-3up {height:120px;}
.height-5x-3up {height:150px;}
.height-6x-3up {height:180px;}
.height-7x-3up {height:210px;}
.height-8x-3up {height:240px;}
.height-9x-3up {height:270px;}
.height-10x-3up {height:300px;}
.height-11x-3up {height:330px;}
.height-12x-3up {height:360px;}
.height-13x-3up {height:390px;}
.height-14x-3up {height:420px;}
.height-15x-3up {height:450px;}
.height-16x-3up {height:480px;}
.height-17x-3up {height:510px;}
.height-18x-3up {height:540px;}
.height-19x-3up {height:570px;}
.height-20x-3up {height:600px;}
.height-auto-3up {height:auto;}



/* Layout > Hide Gutter Left */
.hide-gut-left-3up,
.hide-gut-left-1x-3up {margin-left:-30px;}
.hide-gut-left-2x-3up {margin-left:-60px;}
.hide-gut-left-3x-3up {margin-left:-90px;}
.hide-gut-left-4x-3up {margin-left:-120px;}
.hide-gut-left-5x-3up {margin-left:-150px;}
.hide-gut-left-6x-3up {margin-left:-180px;}
.hide-gut-left-1o2x-3up,
.hide-gut-left-2o4x-3up {margin-left:-15px;}
.hide-gut-left-1o3x-3up {margin-left:-10px;}
.hide-gut-left-2o3x-3up {margin-left:-20px;}
.hide-gut-left-1o4x-3up {margin-left:-7.5px;}
.hide-gut-left-3o4x-3up {margin-left:-22.5px;}
.hide-gut-left-none-3up {margin-left:0;}



/* Layout > Gut Left */
.gut-left-3up,
.gut-left-1x-3up {margin-left:30px;}
.gut-left-2x-3up {margin-left:60px;}
.gut-left-3x-3up {margin-left:90px;}
.gut-left-4x-3up,
.gut-left-small-3up {margin-left:120px;}
.gut-left-5x-3up {margin-left:150px;}
.gut-left-6x-3up {margin-left:180px;}
.gut-left-1o2x-3up,
.gut-left-2o4x-3up {margin-left:15px;}
.gut-left-1o3x-3up {margin-left:10px;}
.gut-left-2o3x-3up {margin-left:20px;}
.gut-left-1o4x-3up {margin-left:7.5px;}
.gut-left-3o4x-3up {margin-left:22.5px;}
.gut-left-none-3up {margin-left:0;}
.gut-left-medium-3up {margin-left:270px;}
.gut-left-large-3up {margin-left:420px;}



/* Layout > Gut Right */
.gut-right-3up,
.gut-right-1x-3up {margin-left:30px;}
.gut-right-2x-3up {margin-left:60px;}
.gut-right-3x-3up {margin-left:90px;}
.gut-right-4x-3up,
.gut-right-small-3up {margin-left:120px;}
.gut-right-5x-3up {margin-left:150px;}
.gut-right-6x-3up {margin-left:180px;}
.gut-right-1o2x-3up,
.gut-right-2o4x-3up {margin-left:15px;}
.gut-right-1o3x-3up {margin-left:10px;}
.gut-right-2o3x-3up {margin-left:20px;}
.gut-right-1o4x-3up {margin-left:7.5px;}
.gut-right-3o4x-3up {margin-left:22.5px;}
.gut-right-none-3up {margin-left:0;}
.gut-right-medium-3up {margin-left:270px;}
.gut-right-large-3up {margin-left:420px;}



/* Layout > Gut Bottom */
.gut-bottom-3up,
.gut-bottom-1x-3up {margin-left:30px;}
.gut-bottom-2x-3up {margin-left:60px;}
.gut-bottom-3x-3up {margin-left:90px;}
.gut-bottom-4x-3up {margin-left:120px;}
.gut-bottom-5x-3up {margin-left:150px;}
.gut-bottom-6x-3up {margin-left:180px;}
.gut-bottom-1o2x-3up,
.gut-bottom-2o4x-3up {margin-left:15px;}
.gut-bottom-1o3x-3up {margin-left:10px;}
.gut-bottom-2o3x-3up {margin-left:20px;}
.gut-bottom-1o4x-3up {margin-left:7.5px;}
.gut-bottom-3o4x-3up {margin-left:22.5px;}
.gut-bottom-none-3up {margin-left:0;}



/* Layout > Pull Gut Left */
.pull-gut-left-3up {float:right;position:relative;margin-left:-100%;right:100%;clear:both;display:inline;}
/* Legacy Support > Layout > Pull Gut Left > IE 6 and 7 graceful degradation */
.pull-gut-left-3up {*margin-left:0;*right:0;*float:left;}
.pull-gut-left-none-3up {margin-left:0;width:auto;float:none;position:static;}
.pull-gut-left-3up {margin-right:30px;}



/* Layout > Pull Gut Right */
.pull-gut-right-3up {float:left;position:relative;margin-right:-100%;left:100%;clear:both;display:inline;}
/* Legacy Support > Layout > Pull Gut Left > IE 6 and 7 graceful degradation */
.pull-gut-right-3up {*margin-right:0;*left:0;*float:right;}
.pull-gut-right-none-3up {margin-right:0;width:auto;float:none;position:static;}
.pull-gut-right-3up {margin-left:30px;}



/* Max Width */
.width-max {max-width:1260px;}
.width-max-1dx-3up {max-width:330px;}
.width-max-2dx-3up {max-width:690px;}
.width-max-3dx-3up {max-width:1050px;}
.width-max-4dx-3up {max-width:1410px;}
.width-max-5dx-3up {max-width:1770px;}
.width-max-6dx-3up {max-width:2130px;}
.width-max-7dx-3up {max-width:2490px;}
.width-max-none-3up {max-width:none;}



/* Widths */
.widths-1o5-3up .col-cols,
.widths-1o5-3up > * {width:20%;}
.widths-1o4-3up .col-cols,
.widths-1o4-3up > *,
.widths-2o8-3up .col-cols,
.widths-2o8-3up > * {width:25%;}
.widths-2o5-3up .col-cols,
.widths-2o5-3up > * {width:40%;}
.widths-1o2-3up .col-cols,
.widths-1o2-3up > *,
.widths-2o4-3up .col-cols,
.widths-2o4-3up > *,
.widths-3o6-3up .col-cols,
.widths-3o6-3up > *,
.widths-4o8-3up .col-cols,
.widths-4o8-3up > * {width:50%;}
.widths-3o5-3up .col-cols,
.widths-3o5-3up > * {width:60%;}
.widths-3o4-3up .col-cols,
.widths-3o4-3up > *,
.widths-6o8-3up .col-cols,
.widths-6o8-3up > * {width:75%;}
.widths-4o5-3up .col-cols,
.widths-4o5-3up > * {width:80%;}
.widths-1o1-3up .col-cols,
.widths-1o1-3up > *,
.widths-2o2-3up .col-cols,
.widths-2o2-3up > *,
.widths-3o3-3up .col-cols,
.widths-3o3-3up > *,
.widths-4o4-3up .col-cols,
.widths-4o4-3up > *,
.widths-5o5-3up .col-cols,
.widths-5o5-3up > *,
.widths-6o6-3up .col-cols,
.widths-6o6-3up > *,
.widths-7o7-3up .col-cols,
.widths-7o7-3up > *,
.widths-8o8-3up .col-cols,
.widths-8o8-3up > * {width:100%;}
.widths-1o3-3up .col-cols,
.widths-1o3-3up > *,
.widths-2o6-3up .col-cols,
.widths-2o6-3up > * {width:33.3333%;}
.widths-1o6-3up .col-cols,
.widths-1o6-3up > * {width:16.6666%;}
.widths-1o7-3up .col-cols,
.widths-1o7-3up > * {width:14.2857%;}
.widths-1o8-3up .col-cols,
.widths-1o8-3up > * {width:12.5%;}
.widths-2o3-3up .col-cols,
.widths-2o3-3up > *,
.widths-4o6-3up .col-cols,
.widths-4o6-3up > * {width:66.6666%;}
.widths-2o7-3up .col-cols,
.widths-2o7-3up > * {width:28.5714%;}
.widths-3o7-3up .col-cols,
.widths-3o7-3up > * {width:42.8571%;}
.widths-3o8-3up .col-cols,
.widths-3o8-3up > * {width:37.5%;}
.widths-4o7-3up .col-cols,
.widths-4o7-3up > * {width:57.1428%;}
.widths-5o6-3up .col-cols,
.widths-5o6-3up > * {width:83.3333%;}
.widths-5o7-3up .col-cols,
.widths-5o7-3up > * {width:71.4285%;}
.widths-5o8-3up .col-cols,
.widths-5o8-3up > * {width:62.5%;}
.widths-6o7-3up .col-cols,
.widths-6o7-3up > * {width:85.7142%;}
.widths-7o8-3up .col-cols,
.widths-7o8-3up > * {width:87.5%;}
.widths-auto-3up > * {width:auto;}



/* Width */
.width-auto-3up {width:auto;}
.width-1o5-3up {width:20%;}
.width-1o4-3up,
.width-2o8-3up {width:25%;}
.width-2o5-3up {width:40%;}
.width-1o2-3up,
.width-2o4-3up,
.width-3o6-3up,
.width-4o8-3up {width:50%;}
.width-3o5-3up {width:60%;}
.width-3o4-3up,
.width-6o8-3up {width:75%;}
.width-4o5-3up {width:80%;}
.width-1o1-3up,
.width-2o2-3up,
.width-3o3-3up,
.width-4o4-3up,
.width-5o5-3up,
.width-6o6-3up,
.width-7o7-3up,
.width-8o8-3up {width:100%;}
.width-1o3-3up,
.width-2o6-3up {width:33.3333%;}
.width-1o6-3up {width:16.6666%;}
.width-1o7-3up {width:14.2857%;}
.width-1o8-3up {width:12.5%;}
.width-2o3-3up,
.width-4o6-3up {width:66.6666%;}
.width-2o7-3up {width:28.5714%;}
.width-3o7-3up {width:42.8571%;}
.width-3o8-3up {width:37.5%;}
.width-4o7-3up {width:57.1428%;}
.width-5o6-3up {width:83.3333%;}
.width-5o7-3up {width:71.4285%;}
.width-5o8-3up {width:62.5%;}
.width-6o7-3up {width:85.7142%;}
.width-7o8-3up {width:87.5%;}



/* Widths px */
.width-1x-3up {width:30px;}
.width-2x-3up {width:60px;}
.width-3x-3up {width:90px;}
.width-4x-3up {width:120px;}
.width-5x-3up {width:150px;}
.width-6x-3up {width:180px;}
.width-7x-3up {width:210px;}
.width-8x-3up {width:240px;}
.width-9x-3up {width:270px;}
.width-10x-3up {width:300px;}
.width-11x-3up {width:330px;}
.width-12x-3up {width:360px;}
.width-13x-3up {width:390px;}
.width-14x-3up {width:420px;}
.width-15x-3up {width:450px;}
.width-16x-3up {width:480px;}
.width-17x-3up {width:510px;}
.width-18x-3up {width:540px;}
.width-19x-3up {width:570px;}
.width-20x-3up {width:600px;}
.width-21x-3up {width:630px;}
.width-22x-3up {width:660px;}
.width-23x-3up {width:690px;}



/* Guts */
.guts-3up,
.guts-1x-3up {margin-left:-15px;margin-right:-15px}
.guts-2x-3up {margin-left:-30px;margin-right:-30px}
.guts-3x-3up {margin-left:-45px;margin-right:-45px}
.guts-4x-3up {margin-left:-60px;margin-right:-60px}
.guts-5x-3up {margin-left:-75px;margin-right:-75px}
.guts-6x-3up {margin-left:-90px;margin-right:-90px}
.guts-1o2x-3up,
.guts-2o4x-3up {margin-left:-7.5px;margin-right:-7.5px}
.guts-1o3x-3up {margin-left:-5px;margin-right:-5px}
.guts-2o3x-3up {margin-left:-10px;margin-right:-10px}
.guts-1o4x-3up {margin-left:-3.75px;margin-right:-3.75px}
.guts-3o4x-3up {margin-left:-11.25px;margin-right:-11.25px}
.guts-3up > *,
.guts-1x-3up > *,
.guts-2x-3up > *,
.guts-3x-3up > *,
.guts-4x-3up > *,
.guts-5x-3up > *,
.guts-6x-3up > *,
.guts-1o2x-3up > *,
.guts-1o3x-3up > *,
.guts-2o3x-3up > *,
.guts-1o4x-3up > *,
.guts-2o4x-3up > *,
.guts-3o4x-3up > * {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.guts-3up > *,
.guts-1x-3up > * {padding-left:15px;padding-right:15px}
.guts-2x-3up > * {padding-left:30px;padding-right:30px}
.guts-3x-3up > * {padding-left:45px;padding-right:45px}
.guts-4x-3up > * {padding-left:60px;padding-right:60px}
.guts-5x-3up > * {padding-left:75px;padding-right:75px}
.guts-6x-3up > * {padding-left:90px;padding-right:90px}
.guts-1o2x-3up > *,
.guts-2o4x-3up > * {padding-left:7.5px;padding-right:7.5px}
.guts-1o3x-3up > * {padding-left:5px;padding-right:5px}
.guts-2o3x-3up > * {padding-left:10px;padding-right:10px}
.guts-1o4x-3up > * {padding-left:3.75px;padding-right:3.75px}
.guts-3o4x-3up > * {padding-left:11.25px;padding-right:11.25px}

/* IE 6 and 7 fixes because they don't support box-sizing */
.guts-3up,
.guts-1x-3up,
.guts-2x-3up,
.guts-3x-3up,
.guts-4x-3up,
.guts-5x-3up,
.guts-6x-3up,
.guts-1o2x-3up,
.guts-1o3x-3up,
.guts-2o3x-3up,
.guts-1o4x-3up,
.guts-2o4x-3up,
.guts-3o4x-3up {*margin-left:0;*margin-right:0;}
.guts-3up > *,
.guts-1x-3up > *,
.guts-2x-3up > *,
.guts-3x-3up > *,
.guts-4x-3up > *,
.guts-5x-3up > *,
.guts-6x-3up > *,
.guts-1o2x-3up > *,
.guts-1o3x-3up > *,
.guts-2o3x-3up > *,
.guts-1o4x-3up > *,
.guts-2o4x-3up > *,
.guts-3o4x-3up > * {*padding-left:0;*padding-right:0;}



/* Guts Full-Width classes */
.guts-fw-3up,
.guts-fw-1x-3up {margin-left:-30px;}
.guts-fw-2x-3up {margin-left:-60px;}
.guts-fw-3x-3up {margin-left:-90px;}
.guts-fw-4x-3up {margin-left:-120px;}
.guts-fw-5x-3up {margin-left:-150px;}
.guts-fw-6x-3up {margin-left:-180px;}
.guts-fw-1o2x-3up,
.guts-fw-2o4x-3up {margin-left:-15px;}
.guts-fw-1o3x-3up {margin-left:-10px;}
.guts-fw-2o3x-3up {margin-left:-20px;}
.guts-fw-1o4x-3up {margin-left:-7.5px;}
.guts-fw-3o4x-3up {margin-left:-22.5px;}
.guts-fw-3up > * > *,
.guts-fw-1x-3up > * > * {margin-left:30px;}
.guts-fw-2x-3up > * > * {margin-left:60px;}
.guts-fw-3x-3up > * > * {margin-left:90px;}
.guts-fw-4x-3up > * > * {margin-left:120px;}
.guts-fw-5x-3up > * > * {margin-left:150px;}
.guts-fw-6x-3up > * > * {margin-left:180px;}
.guts-fw-1o2x-3up > * > *,
.guts-fw-2o4x-3up > * > * {margin-left:15px;}
.guts-fw-1o3x-3up > * > * {margin-left:10px;}
.guts-fw-2o3x-3up > * > * {margin-left:20px;}
.guts-fw-1o4x-3up > * > * {margin-left:7.5px;}
.guts-fw-3o4x-3up > * > * {margin-left:22.5px;}


/* Pos */
.pos-1o1-3up,
.pos-1o2-3up,
.pos-1o3-3up,
.pos-1o4-3up,
.pos-1o5-3up,
.pos-1o6-3up,
.pos-1o7-3up,
.pos-1o8-3up {margin-left:0%;}
.pos-2o5-3up {margin-left:20%;}
.pos-2o4-3up,
.pos-3o8-3up {margin-left:25%;}
.pos-3o5-3up {margin-left:40%;}
.pos-2o2-3up,
.pos-3o4-3up,
.pos-4o6-3up,
.pos-5o8-3up {margin-left:50%;}
.pos-4o5-3up {margin-left:60%;}
.pos-4o4-3up,
.pos-7o8-3up {margin-left:75%;}
.pos-5o5-3up {margin-left:80%;}
.pos-2o3-3up,
.pos-3o6-3up {margin-left:33.3333%;}
.pos-2o6-3up {margin-left:16.6666%;}
.pos-2o7-3up {margin-left:14.2857%;}
.pos-2o8-3up {margin-left:12.5%;}
.pos-3o3-3up,
.pos-5o6-3up {margin-left:66.6666%;}
.pos-3o7-3up {margin-left:28.5714%;}
.pos-4o7-3up {margin-left:42.8571%;}
.pos-4o8-3up {margin-left:37.5%;}
.pos-5o7-3up {margin-left:57.1428%;}
.pos-6o6-3up {margin-left:83.3333%;}
.pos-6o7-3up {margin-left:71.4285%;}
.pos-6o8-3up {margin-left:62.5%;}
.pos-7o7-3up {margin-left:85.7142%;}
.pos-8o8-3up {margin-left:87.5%;}

.pos-1o1-3up,
.pos-1o2-3up,
.pos-1o3-3up,
.pos-1o4-3up,
.pos-1o5-3up,
.pos-1o6-3up,
.pos-1o7-3up,
.pos-1o8-3up,
.pos-2o5-3up,
.pos-2o4-3up,
.pos-3o8-3up,
.pos-3o5-3up,
.pos-2o2-3up,
.pos-3o4-3up,
.pos-4o6-3up,
.pos-5o8-3up,
.pos-4o5-3up,
.pos-4o4-3up,
.pos-7o8-3up,
.pos-5o5-3up,
.pos-2o3-3up,
.pos-3o6-3up,
.pos-2o6-3up,
.pos-2o7-3up,
.pos-2o8-3up,
.pos-3o3-3up,
.pos-5o6-3up,
.pos-3o7-3up,
.pos-4o7-3up,
.pos-4o8-3up,
.pos-5o7-3up,
.pos-6o6-3up,
.pos-6o7-3up,
.pos-6o8-3up,
.pos-7o7-3up,
.pos-8o8-3up {margin-right:-100%;}




}