/*
//  BaseUp CSS
//  Your original custom settings: {{{uriPermalink}}}
*/
{{#breakpoints}}

{{#layoutclasses}}
{{#isgt0}}

/* Breakpoint{{bp}} */
@media all and (min-width:{{at}}px) {

{{/isgt0}}

{{/layoutclasses}}

{{#copyclasses}}

/* Copy */
{{#is0}}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {margin:0;font-family:{{{hfont}}};}
/*h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {adisplay:block;}*/
p,form,ol,ul,dl {margin-top:0;}
hr {border:0;border-top:1px solid #ccc;margin-top:-1px;}
{{/is0}}

{{#basechanged}}
body {font-size:{{copyfontsize}}em;line-height:{{copylineheight}};font-family:{{{copyfont}}};font-weight:{{copyweight}};}
/*input, textarea {font-size:1em;line-height:1;font-family:{{copyfont}};font-weight:{{copyweight}};}*/
p,form,ol,ul,dl,hr {margin-bottom:{{base}}px;}
h1, .h1 {font-size:{{h1}}%;font-weight:{{hweight}};line-height:{{h1lineheight}};padding-top:{{h1paddingtopval}};padding-bottom:{{h1bottomval}};}
h2, .h2 {font-size:{{h2}}%;font-weight:{{hweight}};line-height:{{h2lineheight}};padding-top:{{h2paddingtopval}};padding-bottom:{{h2bottomval}};}
h3, .h3 {font-size:{{h3}}%;font-weight:{{hweight}};line-height:{{h3lineheight}};padding-top:{{h3paddingtopval}};padding-bottom:{{h3bottomval}};}
h4, .h4 {font-size:{{h4}}%;font-weight:{{hweight}};line-height:{{h4lineheight}};padding-top:{{h4paddingtopval}};padding-bottom:{{h4bottomval}};}
h5, .h5 {font-size:{{h5}}%;font-weight:{{hweight}};line-height:{{h5lineheight}};padding-top:{{h5paddingtopval}};padding-bottom:{{h5bottomval}};}
h6, .h6 {font-size:{{h6}}%;font-weight:{{hweight}};line-height:{{h6lineheight}};padding-top:{{h6paddingtopval}};padding-bottom:{{h6bottomval}};}
{{/basechanged}}

{{/copyclasses}}


{{#layoutclasses}}


{{#is0}}


/* Layout */
.{{ns}}{{lay}},
.{{ns}}child-{{lay}},
.{{ns}}gchild-{{lay}},
.{{ns}}child-{{lay}} > *,
.{{ns}}gchild-{{lay}} > * > * {list-style-type:none;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-left:0;padding-right:0;}
.{{ns}}{{lay}}:after,
.{{ns}}{{lay}}:before,
.{{ns}}child-{{lay}}:after,
.{{ns}}child-{{lay}}:before,
.{{ns}}gchild-{{lay}}:after,
.{{ns}}gchild-{{lay}}:before,
.{{ns}}child-{{lay}} > *:after,
.{{ns}}child-{{lay}} > *:before,
.{{ns}}gchild-{{lay}} > * > *:after,
.{{ns}}gchild-{{lay}} > * > *:before,
.{{ns}}{{layleft}}:after,
.{{ns}}{{layleft}}:before,
.{{ns}}{{layright}}:after,
.{{ns}}{{layright}}:before,
.{{ns}}{{laycentered}}:after,
.{{ns}}{{laycentered}}:before {content:"";display:table;-webkit-flex:0;flex:0;}/* flex:0 used to solve issue where the pseudo elements had flex applied in webkit browsers and therefore were taking up space */
.{{ns}}{{lay}}:after,
.{{ns}}child-{{lay}}:after,
.{{ns}}gchild-{{lay}}:after,
.{{ns}}child-{{lay}} > *:after,
.{{ns}}gchild-{{lay}} > * > *:after,
.{{ns}}{{layleft}}:after,
.{{ns}}{{layright}}:after,
.{{ns}}{{laycentered}}:after {clear:both;}

{{#legacysupport}}
/* Layout > Legacy Support > IE 6 and 7 fix to trigger hasLayout */
.{{ns}}{{lay}},
.{{ns}}child-{{lay}},
.{{ns}}gchild-{{lay}},
.{{ns}}child-{{lay}} > *,
.{{ns}}gchild-{{lay}} > * > *,
.{{ns}}{{layleft}},
.{{ns}}{{layright}},
.{{ns}}{{laycentered}} {display:inline-block;}
.{{ns}}{{lay}},
.{{ns}}child-{{lay}},
.{{ns}}gchild-{{lay}},
.{{ns}}child-{{lay}} > *,
.{{ns}}gchild-{{lay}} > * > *,
.{{ns}}{{layleft}},
.{{ns}}{{layright}},
.{{ns}}{{laycentered}} {display:block;}
{{/legacysupport}}

/* Layout > Left / Right / Centered / Clear */
.{{ns}}{{layleft}} {margin-right:auto;}
.{{ns}}{{layright}} {margin-left:auto;}
.{{ns}}{{laycentered}} {margin-left:auto;margin-right:auto;}
.{{ns}}{{clear}} {clear:both;}




/* Layout > Columns */
.{{ns}}{{col}}s {display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;}
.{{ns}}{{col}} {float:left;width:100%;-webkit-flex:none;flex:none;}
.{{ns}}{{col}}s > * {float:left;width:100%;-webkit-flex:none;flex:none;}

{{#legacysupport}}
/* Layout > Columns > Legacy Support */
/*  IE 6 and 7 fix */
.{{ns}}{{col}} {
    _display:inline; /* 1 */
    _word-wrap:break-word; /* 2 */
    _overflow:hidden; /* 3 */
    *margin-right:-1px; /* 4 */
}
.{{ns}}{{col}}s > * {
    *margin-right:-1px; /* 4 */
}
/*
//  1. Fix the double margin float bug in IE 6
//  2. Prevent unbroken strings of text and URLs breaking the layout in IE 6
//  3. Prevent images wider than the column width breaking the layout in IE 6
//  4. Account for pixel-rounding of percentages in IE 6 and 7
*/
{{/legacysupport}}


/* Layout > Columns > Left */
.{{ns}}{{col}}s-left,
.{{ns}}child-{{col}}s-left > *,
.{{ns}}gchild-{{col}}s-left > * > * {display:-webkit-flex;display:flex;margin-left:0!important;}
.{{ns}}{{col}}s-left > *:first-child,
.{{ns}}child-{{col}}s-left > * > *:first-child,
.{{ns}}gchild-{{col}}s-left > * > * > *:first-child {-webkit-flex:none;flex:none;}
.{{ns}}{{col}}s-left > *:first-child + *,
.{{ns}}child-{{col}}s-left > * > *:first-child + *,
.{{ns}}gchild-{{col}}s-left > * > * > *:first-child + * {-webkit-flex:1;flex:1;}

{{#legacysupport}}
/* Layout > Columns > Left > Legacy Support */
.{{ns}}{{col}}s-left,
.{{ns}}child-{{col}}s-left > *,
.{{ns}}gchild-{{col}}s-left > * > * {margin-left:0;}
.{{ns}}{{col}}s-left > *:first-child,
.{{ns}}child-{{col}}s-left > * > *:first-child,
.{{ns}}gchild-{{col}}s-left > * > * > *:first-child {padding-left:0;float:left;*display:inline;}
.{{ns}}{{col}}s-left > *:first-child + *,
.{{ns}}child-{{col}}s-left > * > *:first-child + *,
.{{ns}}gchild-{{col}}s-left > * > * > *:first-child + * {overflow:hidden;width:auto;}
{{/legacysupport}}


/* Layout > Columns > Right */
.{{ns}}{{col}}s-right,
.{{ns}}child-{{col}}s-right > *,
.{{ns}}gchild-{{col}}s-right > * > * {display:-webkit-flex;display:flex;}
.{{ns}}{{col}}s-right > *:first-child,
.{{ns}}child-{{col}}s-right > * > *:first-child,
.{{ns}}gchild-{{col}}s-right > * > * > *:first-child {-webkit-flex:none;flex:none;order:2;box-sizing:content-box;}
.{{ns}}{{col}}s-right > *:first-child + *,
.{{ns}}child-{{col}}s-right > * > *:first-child + *,
.{{ns}}gchild-{{col}}s-right > * > * > *:first-child + * {-webkit-flex:1;flex:1;order:1;}

{{#legacysupport}}
/* Layout > Columns > Right > Legacy Support */
.{{ns}}{{col}}s-right > *:first-child,
.{{ns}}child-{{col}}s-right > * > *:first-child,
.{{ns}}gchild-{{col}}s-right > * > * > *:first-child {float:right;*display:inline;}
.{{ns}}{{col}}s-right > *:first-child + *,
.{{ns}}child-{{col}}s-right > * > *:first-child + *,
.{{ns}}gchild-{{col}}s-right > * > * > *:first-child + * {overflow:hidden;width:auto;}
{{/legacysupport}}


{{#legacysupport}}
/* IE 6 and 7 fix applied in baseup.js */
.baseup-legacy-support-{{clear}}-a {float:left;width:100%;height:0;overflow:hidden;}
.baseup-legacy-support-{{clear}}-b {clear:both;height:0;overflow:hidden;}

/* IE 6 fix applied in baseup.js */
.baseup-legacy-support-{{lay}} {float:left;width:100%;}
{{/legacysupport}}



{{#positionclasses}}

/* Layout > Positioned Columns */
.{{ns}}{{pos}} {margin-right:-100%;}

{{/positionclasses}}



/* Layout > Pull Left and Right */
.{{ns}}{{pullleft}} {float:left;}
.{{ns}}{{pullright}} {float:right;}


/* Child Height Fill */
.{{ns}}child-heights-fill > * {display:-webkit-flex;display:flex;}
.{{ns}}child-heights-fill > * > * {-webkit-flex:1;flex:1;min-width:0;}
.{{ns}}child-height-fill {display:-webkit-flex;display:flex;}
.{{ns}}child-height-fill > * {-webkit-flex:1;flex:1;min-width:0;}


{{/is0}}


{{#isgt0}}

/* Layout > Columns */
.{{ns}}{{col}}{{bp}} {float:left;width:100%;}
.{{ns}}{{colnone}}{{bp}} {float:none;width:auto;}
.{{ns}}{{clear}}{{bp}} {clear:left;}
.{{ns}}{{clearnone}}{{bp}} {clear:none;}

.{{ns}}{{pullleft}}{{bp}} {float:left;}
.{{ns}}{{pullright}}{{bp}} {float:right;}

{{/isgt0}}



/* Layout > Heights */
{{#heights}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {height:{{val}};}
{{/heights}}




/* Layout > Guts > Left */
{{#gutlefts}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {margin-left:{{val}};}
{{/gutlefts}}

/* Layout > Guts > Right */
{{#gutrights}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {margin-right:{{val}};}
{{/gutrights}}

/* Layout > Guts > Bottom and Bottoms */
{{#gutbottoms}}
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {margin-bottom:{{val}};}
{{/gutbottoms}}



/* Layout > Pull Gut Left */
{{#pullgutlefts}}
{{#main}}
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {float:right;position:relative;margin-left:-100%;right:100%;clear:both;display:inline;}
{{/main}}
{{#legacysupport}}
{{#main}}
/* Legacy Support > Layout > Pull Gut Left > IE 6 and 7 graceful degradation */
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {*margin-left:0;*right:0;*float:left;}
{{/main}}
{{/legacysupport}}
{{#none}}
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {margin-left:0;width:auto;float:none;position:static;}
{{/none}}

{{#more}}
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {margin-right:{{val}};}
{{/more}}
{{/pullgutlefts}}

{{#pullgutleftwidths}}
{{{selector}}} {width:{{val}};}
{{/pullgutleftwidths}}


/* Layout > Pull Gut Right */
{{#pullgutrights}}

{{#main}}
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {float:left;position:relative;margin-right:-100%;left:100%;clear:both;display:inline;}
{{/main}}

{{#legacysupport}}
{{#main}}
/* Legacy Support > Layout > Pull Gut Left > IE 6 and 7 graceful degradation */
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {_margin-right:0;_left:0;_float:right;}
{{/main}}
{{/legacysupport}}

{{#none}}
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {margin-right:0;width:auto;float:none;position:static;}
{{/none}}

{{#more}}
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {margin-left:{{val}};}
{{/more}}

{{/pullgutrights}}

{{#pullgutrightwidths}}
{{{selector}}} {width:{{val}};}
{{/pullgutrightwidths}}



/* Max Width */
{{#is0}}
{{#breakpoints}}
.baseup-legacy-bp-{{index}} .{{ns}}{{widthmax}} {max-width:{{maxwidthbp}}{{maxwidthbpunit}};}
{{/breakpoints}}
{{/is0}}
{{#isgt0}}
.{{ns}}{{widthmax}} {max-width:{{maxwidthbp}}px;}
{{/isgt0}}
{{#maxwidths}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {max-width:{{val}};}
{{/maxwidths}}



/* Widths */
{{#widthclasses}}{{#widths}}
{{#fractions}}{{#isnotfirst}},
{{/isnotfirst}}.{{ns}}{{width}}s-{{numerator}}o{{denominator}}{{bp}} > *{{/fractions}} {width:{{value}}%;}
{{/widths}}{{/widthclasses}}
.{{ns}}{{width}}s-auto{{bp}} > * {width:auto;}

/* Width */
{{#widthclasses}}{{#widths}}
{{#fractions}}{{#isnotfirst}},
{{/isnotfirst}}.{{ns}}{{width}}-{{numerator}}o{{denominator}}{{bp}}{{/fractions}} {width:{{value}}%;}
{{/widths}}{{/widthclasses}}

/* Widths px */
{{#widthspx}}
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {width:{{val}};}
{{/widthspx}}

/* Width px */
{{#widthpx}}
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {width:{{val}};}
{{/widthpx}}
.{{ns}}{{width}}-auto{{bp}} {width:auto;}


/* Guts */
{{#legacysupport}}/* IE 6 and 7 star-hack fixes because they don't support box-sizing */{{/legacysupport}}
{{#gutsmargin}}
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {margin-left:{{val}};{{#legacysupport}}*margin-left:0;{{/legacysupport}}}
{{/gutsmargin}}
{{#gutspaddingall}}
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
{{/gutspaddingall}}
{{#gutspadding}}
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {padding-left:{{val}};{{#legacysupport}}*padding-left:0;{{/legacysupport}}}
{{/gutspadding}}





/* Pos */
{{#positionclasses}}

{{#poss}}
{{#fractions}}{{#isnotfirst}},
{{/isnotfirst}}.{{ns}}{{pos}}-{{numerator}}o{{denominator}}{{bp}}{{/fractions}} {-webkit-order:{{valueinteger}};order:{{valueinteger}};}
{{/poss}}

{{#legacysupport}}
{{#poss}}
{{#fractions}}{{#isnotfirst}},
{{/isnotfirst}}.baseup-noflex .{{ns}}{{pos}}-{{numerator}}o{{denominator}}{{bp}}{{/fractions}} {margin-left:{{value}}%;margin-right:-100%;}
{{/poss}}
{{/legacysupport}}


{{/positionclasses}}





{{#bp}}
}
{{/bp}}

{{/layoutclasses}}

{{/breakpoints}}
